@import 'variables';

// スマホ用のナビ
#SP-Nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: all 0.4s;
    visibility: hidden;
    transform: translateY(100vh);
    z-index: 9999;
    .sp-navigation {
        margin-top: 150px;
        li {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            a {
                color: $font_color_1;
            }
        }
    }
}

.sp-toggle-active {
    visibility: visible !important;
    transition: all 0.4s !important;
    transform: translateY(0) !important;
}
