@import 'variables';

html {
    font-size: 16px;
}

body,ul,h1,h2,h3,h4,p {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2.7rem;
    color: $font_color_2;
}

p,li {
    line-height: 190%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

.wrapper {
    main {
        .container {
            padding: 0 30px;
            @media (max-width: 600px) {
                padding: 0 15px;
            }
        }
        section {
            margin: 50px 0;
            text-align: center;
            .heading {
                position: relative;
                text-align: center;
                margin: 30px 0;
                &:first-letter {
                    font-size: 3.5rem;
                }
                &::before {
                    position: absolute;
                    content: "";
                    bottom: 0px;
                    border-top: 8px solid #009688;
                    width: 100px;
                }
            }
        }
        @media (max-width: 1024px) {
            & > section {
                width: 100%;
                padding: 0;
            }
        }
    }
}
