#Contact {
    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-field {
            width: 80%;
        }
        & button {
            margin-top: 30px;
            width: 100px;
        }
        @media (max-width: 600px) {
            .input-field {
                width: 100%;
            }
        }
    }
}
