@import 'variables';

#Footer {
    background: $key_color_1;
    padding: 1rem;
    border-top: 1px solid #ddd;
    .copyright {
        display: block;
        text-align: center;
    }
    .icon-container {
        margin-top: 20px;
        text-align: center;
        .github-icon {
            width: 26px;
            height: 26px;
            color: #000;
        }
    }
}
