@import 'variables';
@import 'sp-nav';

header {
    height: 100vh;
    #navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: start;
        box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1);
        background: $key_color_3;;
        z-index: 1000;
        .page-link {
            display: inline-block;
            margin-top: 10px;
            a {
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                margin: 0.6rem;
                padding: 0.2rem;
                letter-spacing: 2px;
                transition: all 0.7s;
                &:hover {
                    color: $font_color_1;
                    transition: all 0.7s;
                }
            }
        }
    }
    @media (max-width: 600px) {
        #navigation {
            display: none;
        }
    }
    .sp-nav-container {
        position: relative;
        width: 100%;
        height: 50px;
        .sp-toggle {
            position: absolute;
            top: 12px;
            right: 20px;
            display: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 10000;
            span {
                position: absolute;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: $font_color_2;
                border-radius: 4px;
                transition: all 0.4s;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 10px;
                }
                &:nth-child(3) {
                    bottom: 5px;
                }
            }
        }
        .sp-toggle-active {
            transition: all 0.4s;
            position: fixed;
            span {
                &:nth-of-type(1) {
                    transform: translateY(13px) rotate(-315deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(-8px) rotate(315deg);
                }
            }
        }
        @media (max-width: 600px) {
            .sp-toggle {
                display: inline-block;
            }
        }
    }
    #Animation {
        & canvas {
            height: 100vh !important;
        }
        .title-container {
            margin: 25vh auto auto;
            text-align: center;
            color: #fff;
            .title {
                font-size: 6rem;
                letter-spacing: 2px;
                text-shadow: 2px 2px 2px #4a4949;
                font-family: monospace;
            }
            @media (max-width: 1024px) {
                .title {
                    font-size: 4rem;
                }
            }
            .sub-title {
                font-size: 2rem;
                text-shadow: 2px 2px 10px #4a4949;
            }
        }
    }
}
