@import 'variables';

#Works {
    .portfolios {
        display: flex;
        flex-wrap: wrap;
        width: 90% !important;
        margin: 0 5% !important;
        @media (max-width: 1024px) {
            display: block;
        }
        .portfolio {
            width: calc(100% / 2);
            margin: 30px 0;
            @media (max-width: 1024px) {
                width: 100%;
                margin: 100px 0;
            }
            .gatsby-image-wrapper {
                width: 60% !important;
                margin: 0 20% !important;
                box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
                @media (max-width: 1024px) {
                    width: 80% !important;
                    margin: 0 10% !important;
                }
                @media (max-width: 600px) {
                    width: 90% !important;
                    margin: 0 5% !important;
                }
            }
            .portfolio-content {
                text-align: left;
                width: 50%;
                margin: 0 25%;
                line-height: 190%;
                h4 {
                    text-align: center;
                }
                p {
                    margin-bottom: 10px;
                }
                @media (max-width: 1024px) {
                    width: 80%;
                    margin: 0 10%;
                }
                @media (max-width: 600px) {
                    width: 90% !important;
                    margin: 0 5% !important;
                }
            }
        }
    }
}
